<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onToggleMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Ventas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentModal()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- 
  Campos a mostrar en la tabla
  * Codigo
  * nombre
  * cantidad
  * precio
 -->

<ion-content [fullscreen]="true" id="content">
  <ion-grid>
    <ion-row>
      <ion-col size="9">
        <ion-grid>
          <ion-row>
            <!-- Encabezados -->
            <ion-col size="3" class="ion-text-center">
              <h6> Código </h6>
            </ion-col>
            <ion-col size="3" class="ion-text-center">
              <h6> Nombre </h6>
            </ion-col>
            <ion-col size="2" class="ion-text-center">
              <h6> Precio </h6>
            </ion-col>
            <ion-col size="2" class="ion-text-center">
              <h6> Cantidad </h6>
            </ion-col>
          </ion-row> <!-- Fin de los encabezados-->
          <ion-row *ngFor="let product of searchedProducts">
            <!-- Fila a repetir -->
            <ion-col size="3" class="ion-text-center">
              <p>{{ product.barCode }}</p>
            </ion-col>
            <ion-col size="3" class="ion-text-center">
              <p>{{ product.name }}</p>
            </ion-col>
            <ion-col size="2" class="ion-text-center">
              <p>{{ product.unitPrice }}</p>
            </ion-col>
            <ion-col size="2" class="ion-text-center">
              <ion-input type="number"
                value="1"
                min="1"
                [max]="product.stock"
                (ionChange)="getProductValues( product, $event )
                "></ion-input>
            </ion-col>
            <ion-col size="2">
              <ion-button color="danger" (click)="getProductByBarCode('')">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row> <!-- Fin de la fila a repetir-->
        </ion-grid>
      </ion-col> <!-- Fin de la columna de 9-->
      <ion-col size="3">
        <form (ngSubmit)="onAddSale()" [formGroup]="form">          
          <ion-item>
            <ion-label>Total:</ion-label>
            <ion-input type="number" formControlName="total" readonly></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Pagado:</ion-label>
            <ion-input type="number" formControlName="pagado" (ionChange)="cambio()"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Cambio:</ion-label>
            <ion-input type="number" readonly formControlName="cambio"></ion-input>
          </ion-item>


          <ion-button expand="block" type="submit">
            Pagar
          </ion-button>
          

        </form>
      </ion-col>
    </ion-row> <!-- Fin de la fila principal -->
  </ion-grid>
</ion-content>