<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onToggleMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-title class="ion-text-center">
      Inicio
    </ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <img src="./../../../assets/Salud_del_Mayo_Logo.png" alt="Logo">
  </div>
</ion-content>

<!-- Pie de página -->
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title size="small" slot="start">En caso de emergencia llamara a: 654 654 654 654</ion-title>
    <ion-title class="ion-text-center">&copy; made by zxzx</ion-title>
    <ion-title size="small" slot="end">Administrador: correo@correo.com</ion-title>
  </ion-toolbar>
</ion-footer>