<div>
  <form (ngSubmit)="onAddProvider()" [formGroup]="form">
    <ion-list>
      <!-- Campo de nombre de proveedor -->
      <ion-item>
        <ion-label position="floating">Nombre Proveedor<ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="text" formControlName="nameProvider"></ion-input>
      </ion-item>

      <!-- Mensaje de error nombre de proveedor -->
      <ion-item class="error" *ngIf=" campoNoValido( 'nameProvider' ) ">
        <ion-label>{{ nameProviderErrorMsg }}</ion-label>
      </ion-item>
      
      <!-- Campo de nombre de compañia -->
      <ion-item>
        <ion-label position="floating">Nombre compañia<ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="text" formControlName="nameCompany"></ion-input>
      </ion-item>
  
      <!-- Mensaje de error nombre de compañia  -->
      <ion-item class="error" *ngIf=" campoNoValido( 'nameCompany' ) ">
        <ion-label>{{ nameCompanyErrorMsg }}</ion-label>
      </ion-item>

      <!-- Campo de categoría -->
      <ion-item>
        <ion-select placeholder="Categoría" interface="popover" formControlName="category">
          <ion-select-option [value]="item.name" *ngFor="let item of categorias">{{ item.name }}</ion-select-option>
        </ion-select>
      </ion-item>
      
      <!-- Mensaje de error de categoría  -->
      <ion-item class="error" *ngIf=" campoNoValido( 'category' ) ">
        <ion-label>{{ categoryErrorMsg }}</ion-label>
      </ion-item>
      
      <!-- Campo de celular / teléfono -->
      <ion-item>
        <ion-label position="floating">Celular<ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="tel" pattern="(\(\d{3}\)[.-]?|\d{3}[.-]?)?\d{3}[.-]?\d{4}" formControlName="telephone"></ion-input>
      </ion-item>
  
      <!-- Mensaje de error de teléfono  -->
      <ion-item class="error" *ngIf=" campoNoValido( 'telephone' ) ">
        <ion-label>{{ telephoneErrorMsg }}</ion-label>
      </ion-item>

      <!-- Campo de correo -->
      <ion-item>
        <ion-label position="floating">Correo<ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <!-- Mensaje de error de correo  -->
      <ion-item class="error" *ngIf=" campoNoValido( 'email' ) ">
        <ion-label>{{ emailErrorMsg }}</ion-label>
      </ion-item>

      <!-- Botón de añadir -->
      <div *ngIf="!name">
        <ion-button type="submit" color="success" expand="block" fill="outline" shape="round" class="ion-margin-top">
          Añadir
        </ion-button>
      </div>

      <!-- Botón de actualizar -->
      <div *ngIf="name">
        <ion-button (click)="onUpdate()" color="success" expand="block" fill="outline" shape="round" class="ion-margin-top">
          Actualizar
        </ion-button>
      </div>
    </ion-list>
  </form>
</div>